/* @import "../frontend/components//Test.css"; */
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3%;
}
.background0 {
  background-color: white;
}
.background1 {
  background-image: url("https://preview.redd.it/0w656gh9ixs61.png?width=960&crop=smart&auto=webp&s=80fa413c76e3da55a1c7f4ea08ce09e0a62ff8fe");
}
.background2 {
  background-image: url("https://preview.redd.it/q8aw8rul6rr81.jpg?width=960&crop=smart&auto=webp&s=bf4502c15cf8fd062ceb3091775532c6fc604b1b");
}
.background3 {
  background-image: url("https://preview.redd.it/ekgrmpbs4th81.png?width=960&crop=smart&auto=webp&s=9633ce8d2906001aa3f4fe54d1d5ed6b6563be48");
}
.background4 {
  background-image: url("https://preview.redd.it/bbflzw8lmfoz.png?width=960&crop=smart&auto=webp&s=f08b7ea227587775e0aa7ec83a0b26dcb3ca7fe5");
}
.background5 {
  background-image: url("https://external-preview.redd.it/0dJvbojhmHQbygHDIh0FI2RNri3Z2WqwE04nmsiAqc8.jpg?width=960&crop=smart&auto=webp&s=b08012bcc80477a74e533aca7088c91a01992183");
}
.background6 {
  background-image: url("https://preview.redd.it/q4t9eu0411k81.jpg?width=640&crop=smart&auto=webp&s=72fe4a63d0ea97b4dd064be3dfd3a5b17e42a2f6");
}
.background7 {
  background-image: url("https://preview.redd.it/v88x9aawrkh81.png?width=640&crop=smart&auto=webp&s=be0cb06f0ccbfbd9574c194243d0ae49e20b5e63");
}

.background8 {
  background-image: url("https://preview.redd.it/ofas72yn1kt01.jpg?width=960&crop=smart&auto=webp&s=ca55b28215d1e74c099e509765c00a996df90221");
}
.background9 {
  background-image: url("https://preview.redd.it/owf4fzify7by.jpg?width=960&crop=smart&auto=webp&s=ed7ebbabc474c3591b292c262798deb6c47a0d08");
}
.background10 {
  background-image: url("https://preview.redd.it/59bsn5hgnojy.jpg?width=960&crop=smart&auto=webp&s=23bcf37ecc3cd0c3bcf36205de3ae6ede2443ec0");
}

.playlist {
  /* border: linear-gradient(rgb(94, 0, 200), rgba(0, 0, 0, 0)); */
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 65vh;
  padding: 30px;
  /* padding: 30px;
  color: rgb(0, 0, 0); */
  border-color: rgb(77, 0, 51);
  border-width: 10px;
  color: white;
  background: linear-gradient(rgb(91, 87, 115), rgb(22, 21, 21) 30%);
  overflow-y: overlay;
  margin-top: 7%;
  border-radius: 25px;
}
.playlist::-webkit-scrollbar {
  display: none;
}
.songRow {
  margin-left: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: row;
  border-radius: 5px;
}
.songRow_Active {
  margin-left: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: row;
  border-radius: 5px;
  border: solid;
  border-image: linear-gradient(to right, rgb(51, 0, 190), darkorchid) 1;
}
.songRow_left {
  align-items: center;
  display: flex;
  height: 75%;
  width: 33%;
}
.songRow_order {
  display: flex;
  flex: 0 0 10px;
  padding-right: 10px;
  font-size: 20px;
  color: rgb(163, 163, 163);
}
.svg_icons {
  display: flex;
  flex: 0 0 10px;
  padding-right: 8px;
  transform: scale(2);
  color: white;
}
.svg_icons1 {
  transform: scale(0.7);
}
.songRow:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.212);
  opacity: 1;
}

.songRow_info {
  margin: left 20px;
}

.songRow_info > h1.active {
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
  color: rgb(30, 215, 96);
}

.songRow_info > h1.inactive {
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
}

.songRow_info > p {
  font-size: 14px;
  margin-top: 3px;
  color: rgb(192, 192, 192);
  padding-left: 10px;
}
.songRow_album {
  width: 50px;
  height: 50px;
}

.songRow_right {
  align-items: center;
  color: rgb(192, 192, 192);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  height: 75%;
}
.albumName {
  display: flex;
  margin-left: 5%;
  flex: 0 0 25%;
}
.mood {
  display: flex;
  flex: 0 0 29%;
  justify-content: center;
}
.favorite {
  display: flex;
  padding-right: 5px;
  padding-left: 25%;
  margin-right: 5px;
}
.favorited {
  display: flex;
  padding-right: 5px;
  padding-left: 25%;
  color: rgb(30, 215, 96);
  margin-right: 5px;
}
.duration {
  display: flex;
  margin-right: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  flex-direction: row;
}
.header_right {
  min-width: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 80%;
}
.header_left {
  flex: 0.45;
  min-width: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header_left > input {
  border: 0;
  width: 100%;
  outline: none;
  padding: 30px;
}
.searchBar {
  width: 10%;
}
.player {
  margin-left: 50%;
}

.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: #000000;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
}

.subtitle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  margin-left: 200px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  padding: 50px;
  margin-left: 210px;
  position: fixed;
}
/* Login */
.login-form {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  position: fixed;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

.login-form > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800px;
  font-size: 30px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.login-form a:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.2);
}
.logo {
  width: 30vh;
  height: 10vh;
}

.frisson_meaning {
  font-size: 20px;
  padding-bottom: 80px;
}
/* home */
.main-content {
  display: flex;
  height: 100vh;
  width: 100%;
  place-items: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  margin-right: 300px;
  padding-top: 0px;

  /*for chrome and safari*/
  -webkit-animation: pulse 5s infinite;

  /*for firefox*/
  -moz-animation: pulse 5s infinite;

  /* for opera*/
  -o-animation: pulse 5s infinite;

  /*Standard syntax*/
  animation: pulse 5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    );
  }

  50% {
    background: linear-gradient(
      127deg,
      rgba(0, 255, 0, 0.8),
      rgba(0, 255, 0, 0) 70.71%
    );
  }

  100% {
    background: linear-gradient(
      336deg,
      rgba(0, 0, 255, 0.8),
      rgba(0, 0, 255, 0) 70.71%
    );
  }
}

@-moz-keyframes pulse {
  0% {
    background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    );
  }

  50% {
    background: linear-gradient(
      127deg,
      rgba(0, 255, 0, 0.8),
      rgba(0, 255, 0, 0) 70.71%
    );
  }

  100% {
    background: linear-gradient(
      336deg,
      rgba(0, 0, 255, 0.8),
      rgba(0, 0, 255, 0) 70.71%
    );
  }
}
@-o-keyframes pulse {
  0% {
    background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    );
  }

  50% {
    background: linear-gradient(
      127deg,
      rgba(0, 255, 0, 0.8),
      rgba(0, 255, 0, 0) 70.71%
    );
  }

  100% {
    background: linear-gradient(
      336deg,
      rgba(0, 0, 255, 0.8),
      rgba(0, 0, 255, 0) 70.71%
    );
  }
}
@keyframes pulse {
  0% {
    background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    );
  }

  50% {
    background: linear-gradient(
      127deg,
      rgba(0, 255, 0, 0.8),
      rgba(0, 255, 0, 0) 70.71%
    );
  }

  100% {
    background: linear-gradient(
      336deg,
      rgba(0, 0, 255, 0.8),
      rgba(0, 0, 255, 0) 70.71%
    );
  }
}
.welcome {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: #2941ab;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
}
.welcome-subtitle {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  color: black;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px;
}
.container2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 30px;
  border: 0px;
  margin: 0px 0px 0px;
}
.button-style {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 8px;
  background-color: #2941ab;
  color: #1ed760;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #2941ab;
  margin-top: 6px;
  margin-bottom: 6px;
}
.button-style:hover,
.button-style:focus {
  transition: all 0.1s ease-in-out;
  transform: scale(1.2);
  background-color: #f230aa;
  border: 2px solid #f230aa;
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}
.button-style.clicked {
  transform: scale(1.2);
  background-color: #f230aa;
  border: 2px solid #f230aa;
  color: white;
}
.genre {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  color: black;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px;
}
.container3 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  gap: 10px 30px;
  padding-top: 150px;
  height: 30vh;
  width: 100vh;
  margin: 0px 0px 0px;
  margin-bottom: auto;
}
.container4 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  gap: 10px 30px;
  height: 30vh;
  width: 50vh;
  margin: 80px 0px 0px;
}

/* About */

.about-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.about-title {
  padding-top: 80px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #2941ab;
  margin: 30px;
}
.about-subtitle {
  padding-top: 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin: 50px 50px;
}
.color_image {
  padding-top: 0px;
  width: 100%;
  height: 500px;
  padding-bottom: 0px;
}

.about-detail {
  padding-top: 0px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 20px;
  line-height: 1.5em;
  margin: 25px 25px;
  margin-left: 250px;
  margin-right: 250px;
}

.about-photo-gallery {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  padding-bottom: 100px;
  margin-left: 250px;
  margin-right: 250px;
}

.sub_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub_container > p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
}
.about_team_member_picture {
  object-fit: cover;
  width: 160px;
  height: 160px;
  border-radius: 10%;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
.github {
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.links a:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.2);
}
.linkedin {
  object-fit: cover;
  width: 30px;
  height: 30px;
}

/* Top Menu */
nav {
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  padding: 0px 30px;
  top: 0;
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  padding-top: 10px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}

nav a:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.2);
}

nav > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 50px;
}

/* Footer */
.footer {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 4rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: block;
}

.footer-icons {
  padding-top: 20px;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
}

.footer-icon {
  object-fit: cover;
  width: 30px;
  height: 30px;
  margin: 0px 30px 30px;
}
.footer a:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.2);
}
.footer-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  margin: 0px 30px 30px;
  margin-left: 600px;
}
body {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
